*.o
*.so
cscope.*
*.d
src/.*

# file generated at compile time
management/sql/plcontainer_install.sql
management/sql/plcontainer_uninstall.sql
management/sql/plcontainer--1.0.0.sql
src/common/config.h
src/pyclient/bin/py3client
build*/
downloads*/
# for test
tests/regress/results
